In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import time

In [2]:
# executable_path = {'executable_path': 'C:\\Users\\Gogster\\Desktop\\Drivers\\chromedriver.exe'}
executable_path = {'executable_path': 'chromedriver.exe'}
# I changed the CHROMEDRIVER!!! as per Ernest
browser = Browser('chrome', **executable_path, headless=False)

## Mars News

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
html=browser.html

In [4]:
# browser.visit(url)
news_soup = bs(browser.html, 'lxml')
# print(news_soup.prettify())
time.sleep(2)
# news_title = news_soup.find(['div', 'a'], class_='content_title', string=True)
news_title = news_soup.find(class_='content_title', string=True)
print(news_title)
time.sleep(2)

<div class="content_title"><a href="/news/8416/after-a-reset-curiosity-is-operating-normally/" target="_self">After a Reset, Curiosity Is Operating Normally</a></div>

In [5]:
news_p = news_soup.find(class_='article_teaser_body', string=True)
print(news_p)

<div class="article_teaser_body">NASA's Mars rover Curiosity is in good health but takes a short break while engineers diagnose why it reset its computer. </div>

# Mars Image

In [6]:
# Go to the web page then use soup to click thru and get to the larger full rez image

In [7]:
# https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars

In [8]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
base_url='https://www.jpl.nasa.gov'
browser.visit(url)
# html=browser.html

In [9]:
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(2)

In [10]:
browser.click_link_by_partial_text('more info')

In [11]:
#Create a Beautiful Soup object
soup_img = bs(browser.html, 'lxml')
# print(soup_img.prettify())

In [12]:
news_img =soup_img.find(class_="main_image")
print(news_img)

<img alt="This false-color image from three of NASA's Great Observatories provides one example of a star that died in a fiery supernova blast. Called Cassiopeia A, this supernova remnant is located 10,000 light-years away in the constellation Cassiopeia." class="main_image" src="/spaceimages/images/largesize/PIA03519_hires.jpg" title="This false-color image from three of NASA's Great Observatories provides one example of a star that died in a fiery supernova blast. Called Cassiopeia A, this supernova remnant is located 10,000 light-years away in the constellation Cassiopeia."/>

In [13]:
# type(news_img)

In [14]:
featured_image_URL= base_url + news_img['src']
print(featured_image_URL)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA03519_hires.jpg

### Mars Weather

In [15]:
#https://twitter.com/marswxreport?lang=en

In [16]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [17]:
#Create a Beautiful Soup object
soup_wea = bs(browser.html, 'lxml')
# print(soup_wea.prettify())

In [18]:
twe_txt =soup_wea.find(class_="tweet-text")
print(twe_txt)

<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Curiosity is again operating normally following a boot problem first experienced last Friday. Look for more Gale Crater weather conditions soon.
<a class="twitter-timeline-link" data-expanded-url="https://www.jpl.nasa.gov/news/news.php?feature=7339" dir="ltr" href="https://t.co/zZsLjEsTpC" rel="nofollow noopener" target="_blank" title="https://www.jpl.nasa.gov/news/news.php?feature=7339"><span class="tco-ellipsis"></span><span class="invisible">https://www.</span><span class="js-display-url">jpl.nasa.gov/news/news.php?</span><span class="invisible">feature=7339</span><span class="tco-ellipsis"><span class="invisible"> </span>…</span></a><a class="twitter-timeline-link u-hidden" data-pre-embedded="true" dir="ltr" href="https://t.co/gFMfXyeWDa">pic.twitter.com/gFMfXyeWDa</a></p>

### Mars Facts

In [19]:
# http://space-facts.com/mars/

In [20]:
url = 'http://space-facts.com/mars/'
browser.visit(url)

In [21]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [22]:
type(tables)

list

In [23]:
df = tables[0]
df.columns = ['Component', 'Measurement']
df.head()

              Component                    Measurement
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)

In [ ]:
# df = df.iloc[2:]
# df.head()

In [24]:
html_table = df.to_html(index=False)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Component</th>\n      <th>Measurement</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [25]:
html_table= html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th>Component</th>      <th>Measurement</th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.42 x 10^23 kg (10.7% Earth)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.52 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-153 to 20 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [ ]:
# !open table.html

### Mars Hemispheres

In [ ]:
#https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars

In [26]:
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemis_url)

In [ ]:
# browser.click_link_by_partial_text('Cerberus Hemisphere Enhanced')

In [ ]:
#Create a Beautiful Soup object
# soup_hemi = bs(browser.html, 'lxml')
# print(soup_hemi.prettify())

In [ ]:
# hemi_cere =soup_hemi.find(target="_blank")
# print(hemi_cere)

In [ ]:
# browser.click_link_by_partial_text('Back')

In [ ]:
# browser.click_link_by_partial_text('Schiaparelli Hemisphere Enhanced')

In [ ]:
#use for loop to extract all the 4 hemispheres in a list; use the list then to pull all the 4 images

In [ ]:
# hemisphere_image_urls = []
# browser.visit(hemis_url)
# hemis_soup = bs(browser.html, 'lxml')
# hemis_query = hemis_soup.find_all(class_='item')
# for result in hemis_query:
    
#     browser.visit(hemis_url)
#     browser.click_link_by_partial_text(result.h3.text)
#     hemis_temp_soup = bs(browser.html, 'lxml')
    
#     hemi_name = result.h3.text.replace(' Enhanced', '')
#     hemi_img_url = hemis_temp_soup.find(target='_blank')['href']
    
#     hemisphere_image_urls.append({'title':hemi_name, 'img_url':hemi_img_url})

In [27]:
hemisphere_image_urls = []
browser.visit(hemis_url)
hemis_soup = bs(browser.html, 'lxml')
hemis_query = hemis_soup.find_all(class_='item')
for result in hemis_query:
    
    browser.visit(hemis_url)
    browser.click_link_by_partial_text(result.h3.text)
    hemis_temp_soup = bs(browser.html, 'lxml')
    
    hemi_name = result.h3.text.replace(' Enhanced', '')
    hemi_img_url = hemis_temp_soup.find(target='_blank')['href']
    
    hemisphere_image_urls.append({'title':hemi_name, 'img_url':hemi_img_url})

In [28]:
print (hemisphere_image_urls[0])

{'title': 'Cerberus Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}

In [32]:
print (hemisphere_image_urls[1])

{'title': 'Schiaparelli Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}

In [34]:
print (hemisphere_image_urls[2])

{'title': 'Syrtis Major Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}

In [35]:
print (hemisphere_image_urls[3])

{'title': 'Valles Marineris Hemisphere', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}